page-fly-details {
    .flyPicture {
        border-radius: 3px;
    }
   
    .fly-card {
        height: 100%;
    }

    ion-navbar.toolbar.title-image {
        padding-top: 5px !important;
    }
}
    