<ion-header no-border>
    <ion-navbar color="white" text-center>
      <button color="goldbrown" ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <br>
      <ion-title>
        <img class="title-image" alt="logo" height="50" src="/assets/imgs/logo_transparent_background.png">
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col col-12 col-md-6 col-lg-46 col-xl-8>
        <div *ngIf="flyDetails">
          <ion-card class="fly-cards">
            <ion-card-header>
              <ion-card-title text-wrap text-center>{{ flyDetails.flyName }}</ion-card-title>
            </ion-card-header>
            <hr>
            <h2 text-center>Fly Category - {{ flyDetails.flyCategory }}</h2>
            <ion-card-content> 
              <img src="{{flyImageURL}}" class="flyPicture">
            </ion-card-content>
          </ion-card>
        </div>
        <div>
          <!--List of material items - ngIf only displays materials that actually exist-->
          <ion-list>
            <ion-item *ngIf="flyMaterials?.Hook"><p><b>Hook</b> : {{flyMaterials.Hook}}</p></ion-item>
            <ion-item *ngIf="flyMaterials?.Thread"><p><b>Thread</b> :  {{flyMaterials.Thread}}</p></ion-item>
            <ion-item *ngIf="flyMaterials?.Body"><p><b>Body</b> : {{flyMaterials.Body}}</p></ion-item>
            <ion-item *ngIf="flyMaterials?.Head"><p><b>Head</b> : {{flyMaterials.Head}}</p></ion-item>
            <ion-item *ngIf="flyMaterials?.Abdomen"><p><b>Abdomen</b> : {{flyMaterials.Abdomen}}</p></ion-item>
            <ion-item *ngIf="flyMaterials?.Bead"><p><b>Bead</b> : {{flyMaterials.Bead}}</p></ion-item>
            <ion-item *ngIf="flyMaterials?.Eyes"><p><b>Eyes</b> : {{flyMaterials.Eyes}}</p></ion-item>
            <ion-item *ngIf="flyMaterials?.Overwing"><p><b>Overwing</b> : {{flyMaterials.Overwing}}</p></ion-item>
            <ion-item *ngIf="flyMaterials?.Tail"><p><b>Tail</b> : {{flyMaterials.Tail}}</p></ion-item>
            <ion-item *ngIf="flyMaterials?.Wing"><p><b>Wing</b> : {{flyMaterials.Wing}}</p></ion-item>
            <ion-item *ngIf="flyMaterials?.Hackle"><p><b>Hackle</b> : {{flyMaterials.Hackle}}</p></ion-item>
            <ion-item *ngIf="flyMaterials?.Back"><p><b>Back</b> : {{flyMaterials.Back}}</p></ion-item>
            <ion-item *ngIf="flyMaterials?.Rib"><p><b>Rib</b> : {{flyMaterials.Rib}}</p></ion-item>
            <ion-item *ngIf="flyMaterials?.Thorax"><p><b>Thorax</b> : {{flyMaterials.Thorax}}</p></ion-item>
            <ion-item *ngIf="flyMaterials?.Tag"><p><b>Tag</b> : {{flyMaterials.Tag}}</p></ion-item>
            <ion-item *ngIf="flyMaterials?.Legs"><p><b>Legs</b> : {{flyMaterials.Legs}}</p></ion-item>
            <ion-item *ngIf="flyMaterials?.Wingcase"><p><b>Wingcase</b> : {{flyMaterials.Wingcase}}</p></ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
