<ion-header no-border>
    <ion-navbar color="white" text-center>
      <button color="goldbrown" ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <img class="title-image" alt="logo" height="50" src="/assets/imgs/logo_transparent_background.png">
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <div *ngIf="flyDetails">
    <ion-card class="fly-cards">
      <ion-card-header>
        <ion-card-title text-wrap text-center>{{ flyDetails.flyName }}</ion-card-title>
      </ion-card-header>
      <hr>
      <h2 text-center>Fly Category - {{ flyDetails.flyCategory }}</h2>
      <ion-card-content> 
        <img src="{{flyImageURL}}" class="flyPicture">
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <!--List of material items - ngIf only displays materials that actually exist-->
    <ion-list>
      <ion-item *ngIf="flyMaterials?.Hook"><p>Hook : {{flyMaterials.Hook}}</p></ion-item>
      <ion-item *ngIf="flyMaterials?.Thread"><p>Thread :  {{flyMaterials.Thread}}</p></ion-item>
      <ion-item *ngIf="flyMaterials?.Body"><p>Body : {{flyMaterials.Body}}</p></ion-item>
      <ion-item *ngIf="flyMaterials?.Head"><p>Head : {{flyMaterials.Head}}</p></ion-item>
      <ion-item *ngIf="flyMaterials?.Abdomen"><p>Abdomen : {{flyMaterials.Abdomen}}</p></ion-item>
      <ion-item *ngIf="flyMaterials?.Bead"><p>Bead : {{flyMaterials.Bead}}</p></ion-item>
      <ion-item *ngIf="flyMaterials?.Eyes"><p>Eyes : {{flyMaterials.Eyes}}</p></ion-item>
      <ion-item *ngIf="flyMaterials?.Overwing"><p>Overwing : {{flyMaterials.Overwing}}</p></ion-item>
      <ion-item *ngIf="flyMaterials?.Tail"><p>Tail : {{flyMaterials.Tail}}</p></ion-item>
      <ion-item *ngIf="flyMaterials?.Wing"><p>Wing : {{flyMaterials.Wing}}</p></ion-item>
      <ion-item *ngIf="flyMaterials?.Hackle"><p>Hackle : {{flyMaterials.Hackle}}</p></ion-item>
      <ion-item *ngIf="flyMaterials?.Back"><p>Back : {{flyMaterials.Back}}</p></ion-item>
      <ion-item *ngIf="flyMaterials?.Rib"><p>Rib : {{flyMaterials.Rib}}</p></ion-item>
      <ion-item *ngIf="flyMaterials?.Thorax"><p>Thorax : {{flyMaterials.Thorax}}</p></ion-item>
      <ion-item *ngIf="flyMaterials?.Tag"><p>Tag : {{flyMaterials.Tag}}</p></ion-item>
      <ion-item *ngIf="flyMaterials?.Legs"><p>Legs : {{flyMaterials.Legs}}</p></ion-item>
      <ion-item *ngIf="flyMaterials?.Wingcase"><p>Wingcase : {{flyMaterials.Wingcase}}</p></ion-item>
    </ion-list>
  </div>

</ion-content>
