@font-face {
    font-family: 'Raleway-Medium';
    src: url('../assets/fonts/Raleway/Raleway-Medium.ttf');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Raleway-Bold';
    src: url('../assets/fonts/Raleway/Raleway-Bold.ttf');
    font-weight: 200;
    font-style: normal;
  }